html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
#evernote-container {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  box-sizing: border-box;
}
.quill {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #F2F2F2 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}

.row{
  align-items: center;
}
.row:hover{
  background-color: #404040;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8A8A8A !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8A8A8A !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #8A8A8A !important;
 
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}